{% extends "_layout.njk" %}

{% set title = 'Каталог' %}

{% block main %}

<section class="container teaser page-catalog">
  <h1 class="teaser__title">Фотографии<br>пользователей</h1>
</section>

<section class="catalog-inner">
  <div class="catalog-inner__content">
    <p class="catalog-inner__description">
      Взгляните на фотографии, которые<br>
      выкладывают пользователи!<br>
      Видите, как не хватает ваших?</p>
  </div>

  <section class="gallery">
    <h2 class="visually-hidden">Галлерея фотографий</h2>

    <figure class="foto foto__big">
      <a class="foto-link" href="#">Панорама дня</a>
      <img class="foto-image" src="img/panorama-mobile.jpg" alt="Панорама дня">

      <figcaption class="foto__content foto__content__big">
        <p class="foto__author">
          <b>Анна</b>
          <span class="foto__date">(5 минут назад)</span>
        </p>

        <p class="foto__description foto__description__big">Прыгать или нет? Напишите в коментарии свой совет и смотрите прямую
          трансляцию в перископе, задавайте свои вопросы!</p>

        <div class="foto__likes foto__likes__big">
          <button class="foto__like-button" type="button" aria-label="Нравится!"></button>

          <span class="foto__like-count">Нравится: 215</span>
        </div>
      </figcaption>
    </figure>

    <figure class="foto">
      <img class="foto-image" src="img/car-mobile.jpg" alt="Автомобиль">

      <figcaption class="foto__content">
        <p class="foto__author">
          <b>Левон</b>
          <span class="foto__date">(5 часов назад)</span>
        </p>

        <p class="foto__description">Вчера он на луну летал, сегодня в руки к нам попал.</p>

        <div class="foto__likes">
          <button class="foto__like-button" type="button" aria-label="Нравится!"></button>

          <span class="foto__like-count">Нравится: 356</span>
        </div>
      </figcaption>
    </figure>

    <figure class="foto">
      <img class="foto-image" src="img/drum-mobile.jpg" alt="Барабаны">

      <figcaption class="foto__content">
        <p class="foto__author">
          <b>Антон</b>
          <span class="foto__date">(12 часов назад)</span>
        </p>

        <p class="foto__description">Соседи будут рады!</p>

        <div class="foto__likes">
          <button class="foto__like-button" type="button" aria-label="Нравится!"></button>

          <span class="foto__like-count">Нравится: 666</span>
        </div>
      </figcaption>
    </figure>

    <figure class="foto">
      <img class="foto-image" src="img/roof-tablet.jpg" alt="Крыша">

      <figcaption class="foto__content">
        <p class="foto__author">
          <b>Борис</b>
          <span class="foto__date">(20 часов назад)</span>
        </p>

        <p class="foto__description">Здесь могла быть ваша цитата о высоком и вечном.</p>

        <div class="foto__likes">
          <button class="foto__like-button" type="button" aria-label="Нравится!"></button>

          <span class="foto__like-count">Нравится: 215</span>
        </div>
      </figcaption>
    </figure>

    <figure class="foto">
      <img class="foto-image" src="img/tent-tablet.jpg" alt="Шатер">

      <figcaption class="foto__content">
        <p class="foto__author">
          <b>Сергей</b>
          <span class="foto__date">(25 часов назад)</span>
        </p>

        <p class="foto__description">Самая кубанская в мире!</p>

        <div class="foto__likes">
          <button class="foto__like-button" type="button" aria-label="Нравится!"></button>

          <span class="foto__like-count">Нравится: 4</span>
        </div>
      </figcaption>
    </figure>

    <figure class="foto">
      <img class="foto-image" src="img/legs-tablet.jpg" alt="Ноги">

      <figcaption class="foto__content">
        <p class="foto__author">
          <b>Максим</b>
          <span class="foto__date">(40 часов назад)</span>
        </p>

        <p class="foto__description">Где снег-то?</p>

        <div class="foto__likes">
          <button class="foto__like-button" type="button" aria-label="Нравится!"></button>

          <span class="foto__like-count">Нравится: 150</span>
        </div>
      </figcaption>
    </figure>

    <figure class="foto">
      <img class="foto-image" src="img/wing-tablet.jpg" alt="Крыло">

      <figcaption class="foto__content">
        <p class="foto__author">
          <b>Надежда</b>
          <span class="foto__date">(45 часов назад)</span>
        </p>

        <p class="foto__description">Всем GM и взаимные лайки!</p>

        <div class="foto__likes">
          <button class="foto__like-button" type="button" aria-label="Нравится!"></button>

          <span class="foto__like-count">Нравится: 2560</span>
        </div>
      </figcaption>
    </figure>
  </section>

  <section class="foto-editor">
    <h2 class="visually-hidden">Редактор фотографий</h2>
    <p class="foto-editor__description">Затмите их всех!<br>Выкладывайте все, что накопилось в телефоне!</p>

    <div class="foto-editor__form">
      <img class="foto-image form-image" src="img/winter-tablet.jpg" alt="Зимняя дорога">
    </div>

    <div class="foto-editor__filter">
      <button class="foto-editor__filter" type="button" aria-label="Обрезать">
        <img class="foto-editor__icon" src="img/crop.svg" alt="Обрезать">
      </button>

      <button class="foto-editor__filter" type="button" aria-label="Заливка">
        <img class="foto-editor__icon" src="img/fill.svg" alt="Заливка">
      </button>

      <button class="foto-editor__filter" type="button" aria-label="Контраст">
        <img class="foto-editor__icon" src="img/contrast.svg" alt="Контраст">
      </button>

      <input class="foto-editor__filter-range" type="range" min="1" max="100" name="range" value="80">
    </div>

    <div class="foto-editor__buttons">
      <button class="foto-editor__button button button--active" type="submit">Запостить</button>
      <button class="foto-editor__button button" type="reset">Отмена</button>
    </div>
  </section>

Затмите их всех!
Выкладывайте все, что накопилось в телефоне!
Запостить
Отмена
Разработано
{% endblock %}

