{% extends "_layout.njk" %}

{% set title = 'Форма' %}

{% block main %}

<section class="content">
  <h1 class="content__title">Конкурс на самое<br>безбашенное<br>путешествие с Пинк</h1>
  <p class="content__description">
    Поделитесь своей историей и получите<br>
    шанс выиграть ценный приз — 1000<br>
    миль на вашу бонусную карту!</p>
  </div>

  <form class="form-feedback content__form-feedback" action="https://echo.htmlacademy.ru/" method="post">
    <fieldset class="form-feedback__set form-feedback__set--noname">
      <legend class="visually-hidden">ФИО</legend>
      <ul class="form-feedback__list">
        <li class="form-feedback__item">
          <label class="form-feedback__label" for="lastname">Фамилия:</label>
          <input class="form-feedback__input" type="text" id="lastname" name="lastname" pattern="^[А-Яа-яЁё]+$"
            placeholder="Укажите фамилию *" required>
        </li>
        <li class="form-feedback__item">
          <label class="form-feedback__label" for="firstname">Имя:</label>
          <input class="form-feedback__input" type="text" id="firstname" name="firstname" pattern="^[А-Яа-яЁё]+$"
            placeholder="Введите ваше имя *" required>
        </li>
        <li class="form-feedback__item">
          <label class="form-feedback__label" for="middlename">Отчество:</label>
          <input class="form-feedback__input" type="text" id="middlename" name="middlename" pattern="^[А-Яа-яЁё]+$"
            placeholder="Ну и отчество тоже">
        </li>
      </ul>
    </fieldset>

    <fieldset class="form-feedback__set form-feedback__set--checkers">
      <legend class="form-feedback__legend">
        <span class="form-feedback__legend-content">Ваши безбашенные<br> достижения в путешествии</span>
      </legend>

      <ul class="form-feedback__checkers-list">
        <li class="form-feedback__checker-item">
          <input class="form-feedback__checker form-feedback__checker--checkbox visually-hidden" type="checkbox" id="shark" name="achievements[]" value="shark" checked>
          <label class="form-feedback__checker-label" for="shark">Сделал селфи с акулой</label>
        </li>
        <li class="form-feedback__checker-item">
          <input class="form-feedback__checker form-feedback__checker--checkbox visually-hidden" type="checkbox" id="beach" name="achievements[]" value="beach" checked>
          <label class="form-feedback__checker-label" for="beach">Обгорел на пляже</label>
        </li>
        <li class="form-feedback__checker-item">
          <input class="form-feedback__checker form-feedback__checker--checkbox visually-hidden" type="checkbox" id="chuck" name="achievements[]" value="chuck">
          <label class="form-feedback__checker-label" for="chuck">Видел Чака Норриса</label>
        </li>
        <li class="form-feedback__checker-item">
          <input class="form-feedback__checker form-feedback__checker--checkbox visually-hidden" type="checkbox" id="souvenirs" name="achievements[]" value="souvenirs">
          <label class="form-feedback__checker-label" for="souvenirs">Накупил сувениров</label>
        </li>
        <li class="form-feedback__checker-item">
          <input class="form-feedback__checker form-feedback__checker--checkbox visually-hidden" type="checkbox" id="tower" name="achievements[]" value="tower" checked>
          <label class="form-feedback__checker-label" for="tower">Удержал башню</label>
        </li>
        <li class="form-feedback__checker-item">
          <input class="form-feedback__checker form-feedback__checker--checkbox visually-hidden" type="checkbox" id="hotel" name="achievements[]" value="hotel">
          <label class="form-feedback__checker-label" for="hotel">Разгромил отель</label>
        </li>
      </ul>
    </fieldset>

    <fieldset class="form-feedback__set form-feedback__set--checkers">
      <legend class="form-feedback__legend">
        <span class="form-feedback__legend-content">Контактная информация</span>
      </legend>

      <ul class="form-feedback__list">
        <li class="form-feedback__item">
          <label class="form-feedback__label" for="phone">Номер телефона</label>
          <input class="form-feedback__input" type="tel" id="phone" name="phone" pattern="^[ \d\-]+$"
            placeholder="Номер, пожалуйста">
        </li>
        <li class="form-feedback__item">
          <label class="form-feedback__label" for="email">Адрес почты</label>
          <input class="form-feedback__input" type="email" id="email" name="email"
            placeholder="Введите почту *" required>
        </li>
      </ul>
    </fieldset>

    <fieldset class="form-feedback__set">
      <legend class="form-feedback__legend">
        <span class="form-feedback__legend-content">С каким приложением<br>путешествовали?</span>
      </legend>

      <ul class="form-feedback__list">
        <li class="form-feedback__checkers-item">
          <input class="form-feedback__checker visually-hidden" type="radio" id="ios" name="platform" value="ios"
            checked>
          <label class="form-feedback__checker-label" for="ios">Pink для iOS</label>
        </li>
        <li class="form-feedback__checkers-item">
          <input class="form-feedback__checker visually-hidden" type="radio" id="android" name="platform" value="android">
          <label class="form-feedback__checker-label" for="android">Pink на Android</label>
        </li>
        <li class="form-feedback__checkers-item">
          <input class="form-feedback__checker visually-hidden" type="radio" id="windows" name="platform" value="windows">
          <label class="form-feedback__checker-label" for="windows">Windows Phone</label>
        </li>
      </ul>
    </fieldset>

    <fieldset class="form-feedback__set">
      <legend class="form-feedback__legend">
        <span class="form-feedback__legend-content">Опишите свои эмоции</span>
      </legend>

      <label class="visually-hidden" for="message">Сообщение</label>
      <textarea class="form-feedback__input form-feedback__input--message" id="message" name="message" placeholder="Можно прям в красках, не стесняясь в выражениях"></textarea>
    </fieldset>

    <div class="form-feedback__submit">
      <button class="button form-feedback__submit-button" type="submit">Отправить форму</button>

      <p class="form-feedback__submit-description">
        <span class="form-feedback__submit-note">*</span> — обязательные поля
      </p>
    </div>
  </form>
</section>

{% endblock %}
