{% extends "_layout.njk" %}

{% set title = 'Форма' %}

{% block main %}

<section class="container teaser page-form">
  <h1 class="teaser__title">Конкурс на самое<br>безбашенное<br>путешествие с Пинк</h1>
</section>

<section class="page-inner">
  <div class="page-inner__content">
    <p class="page-inner__description">
      Поделитесь своей историей и получите<br>
      шанс выиграть ценный приз — 1000<br>
      миль на вашу бонусную карту!</p>
  </div>

  <form class="page-inner__form" action="https://echo.htmlacademy.ru/" method="post">
    <div class="form-feedback">
      <fieldset class="form-feedback__name">
        <ul class="form-feedback__name-list">
          <li class="form-feedback__name-item">
            <label class="form-feedback__label" for="lastname">Фамилия:</label>
            <input class="form-feedback__input" type="text" id="lastname" name="lastname" pattern="[А-Яа-яЁё]+"
              placeholder="Укажите фамилию *" required>
          </li>
          <li class="form-feedback__name-item">
            <label class="form-feedback__label" for="firstname">Имя:</label>
            <input class="form-feedback__input" type="text" id="firstname" name="firstname" pattern="[А-Яа-яЁё]+"
              placeholder="Введите ваше имя *" required>
          </li>
          <li class="form-feedback__name-item">
            <label class="form-feedback__label" for="middlename">Отчество:</label>
            <input class="form-feedback__input" type="text" id="middlename" name="middlename" pattern="[А-Яа-яЁё]+"
              placeholder="Ну и отчество тоже">
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="form-feedback">
      <fieldset class="form-feedback__achievements">
        <legend class="form-feedback__legend">
          <span class="form-feedback__legend-content">Ваши безбашенные<br> достижения в путешествии</span>
        </legend>

        <ul class="form-feedback__achievements-list">
          <li class="form-feedback__achievements-item">
            <input class="form-feedback__checkbox visually-hidden" type="checkbox" id="shark" name="achivments" value="shark" checked>
            <label class="form-feedback__label-checkbox" for="shark">Сделал селфи с акулой</label>
          </li>
          <li class="form-feedback__achievements-item">
            <input class="form-feedback__checkbox visually-hidden" type="checkbox" id="beach" name="achivments" value="beach" checked>
            <label class="form-feedback__label-checkbox" for="beach">Обгорел на пляже</label>
          </li>
          <li class="form-feedback__achievements-item">
            <input class="form-feedback__checkbox visually-hidden" type="checkbox" id="chuck" name="achivments" value="chuck">
            <label class="form-feedback__label-checkbox" for="chuck">Видел Чака Норриса</label>
          </li>
          <li class="form-feedback__achievements-item">
            <input class="form-feedback__checkbox visually-hidden" type="checkbox" id="souvenirs" name="achivments" value="souvenirs">
            <label class="form-feedback__label-checkbox" for="souvenirs">Накупил сувениров</label>
          </li>
          <li class="form-feedback__achievements-item">
            <input class="form-feedback__checkbox visually-hidden" type="checkbox" id="tower" name="achivments" value="tower" checked>
            <label class="form-feedback__label-checkbox" for="tower">Удержал башню</label>
          </li>
          <li class="form-feedback__achievements-item">
            <input class="form-feedback__checkbox visually-hidden" type="checkbox" id="hotel" name="achivments" value="hotel">
            <label class="form-feedback__label-checkbox" for="hotel">Разгромил отель</label>
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="form-feedback">
      <fieldset class="form-feedback__contacts">
        <legend class="form-feedback__legend">
          <span class="form-feedback__legend-content">Контактная информация</span>
        </legend>

        <ul class="form-feedback__contacts-list">
          <li class="form-feedback__contacts-item">
            <label class="form-feedback__label" for="phone">Номер телефона</label>
            <input class="form-feedback__input" type="tel" id="phone" name="phone" pattern="[^[ 0-9]+$]"
              placeholder="Номер, пожалуйста">
          </li>
          <li class="form-feedback__contacts-item">
            <label class="form-feedback__label" for="email">Адрес почты</label>
            <input class="form-feedback__input" type="email" id="email" name="email"
              placeholder="Введите почту *" required>
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="form-feedback">
      <fieldset class="form-feedback__apps">
        <legend class="form-feedback__legend">
          <span class="form-feedback__legend-content">С каким приложением<br> путешествовали?</span>
        </legend>

        <ul class="form-feedback__apps-list">
          <li class="form-feedback__apps-item">
            <input class="form-feedback__radio visually-hidden" type="radio" id="ios" name="platform" value="1"
              checked>
            <label class="form-feedback__label-radio" for="ios">Pink для iOS</label>
          </li>
          <li class="form-feedback__apps-item">
            <input class="form-feedback__radio visually-hidden" type="radio" id="android" name="platform" value="2">
            <label class="form-feedback__label-radio" for="android">Pink на Android</label>
          </li>
          <li class="form-feedback__apps-item">
            <input class="form-feedback__radio visually-hidden" type="radio" id="windows" name="platform" value="3">
            <label class="form-feedback__label-radio" for="windows">Windows Phone</label>
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="form-feedback">
      <fieldset class="form-feedback__emotion">
        <legend class="form-feedback__legend">
          <span class="form-feedback__legend-content">Опишите свои эмоции</span>
        </legend>

        <p>Можно прям в красках, не стесняясь в выражениях</p>
      </fieldset>
    </div>

    <div class="form-feedback form-feedback__submit">
      <button class="form-feedback__submit-button button" type="submit">Отправить форму</button>

      <p class="form-feedback__submit-description"><span class="form-feedback__submit-note">*</span>—
        обязательные поля</p>
    </div>
  </form>

</section>

{% endblock %}
